<form [formGroup]="matchForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card-header style="margin-bottom: 5%; justify-content: center">
    <mat-card-title>{{data.match.domicile.nom}} - {{data.match.exterieur.nom}} le {{data.match.date}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col equipe">
        <span style="font-size: 20px">{{data.match.domicile.nom}}</span>
        <mat-form-field class="score" style="float: right">
          <input matInput formControlName="butDomicile" type="number">
          <mat-error *ngIf="matchForm.controls['butDomicile'].hasError('required')">
          </mat-error>
        </mat-form-field>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col equipe">
        <span style="font-size: 20px">{{data.match.exterieur.nom}}</span>
        <mat-form-field class="score" style="float: left; margin-left: 20px">
          <input matInput formControlName="butExterieur" type="number">
          <mat-error *ngIf="matchForm.controls['butExterieur'].hasError('required')">
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <app-joueur-stat class="col" mathFormControlName="selectedJoueursDomicile" [joueursStat]="joueursDomicile"
                       [matchForm]="matchForm" camp="dom"></app-joueur-stat>
      <mat-divider [vertical]="true"></mat-divider>
      <app-joueur-stat class="col" mathFormControlName="selectedJoueursExterieur" [joueursStat]="joueursExterieur"
                       [matchForm]="matchForm" camp="ext"></app-joueur-stat>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Enregistrer le résultat</button>
  </mat-card-actions>
</form>
