<form [formGroup]="matchForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card-header style="margin-bottom: 5%; justify-content: center">
    <mat-card-title>{{data.match.domicile.nom}} - {{data.match.exterieur.nom}} le {{data.match.date}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col equipe">
        <span style="font-size: 20px">{{data.match.domicile.nom}}</span>
        <mat-form-field class="score" style="float: right">
          <input matInput formControlName="butDomicile" type="number">
          <mat-error *ngIf="matchForm.controls['butDomicile'].hasError('required')">
          </mat-error>
        </mat-form-field>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col equipe">
        <span style="font-size: 20px">{{data.match.exterieur.nom}}</span>
        <mat-form-field class="score" style="float: left; margin-left: 20px">
          <input matInput formControlName="butExterieur" type="number">
          <mat-error *ngIf="matchForm.controls['butExterieur'].hasError('required')">
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-selection-list formControlName="selectedJoueursDomicile" [compareWith]="joueurStatEquals">
          <mat-list-option [value]="joueurDomicile"
                           *ngFor="let joueurDomicile of joueursDomicile">
            {{joueurDomicile.joueur.prenom}} {{joueurDomicile.joueur.nom}}
            <span>
              {{joueurDomicile.nbButs}}
              <mat-icon (click)="incrementButs(joueurDomicile, 'dom')">sports_soccer</mat-icon>
              {{joueurDomicile.nbPasses}}
              <mat-icon (click)="incrementPasses(joueurDomicile, 'dom')">person_search</mat-icon>
              {{joueurDomicile.nbCartonsJaunes}}
              <mat-icon style="color: gold" (click)="incrementCartonsJaunes(joueurDomicile)">crop_portrait</mat-icon>
              {{joueurDomicile.nbCartonsRouges}}
              <mat-icon style="color: red" (click)="incrementCartonsRouges(joueurDomicile)">crop_portrait</mat-icon>
            </span>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col">
        <mat-selection-list formControlName="selectedJoueursExterieur" [compareWith]="joueurStatEquals">
          <mat-list-option [value]="joueurExterieur"
                           *ngFor="let joueurExterieur of joueursExterieur">
            {{joueurExterieur.joueur.prenom}} {{joueurExterieur.joueur.nom}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Enregistrer le résultat</button>
  </mat-card-actions>
</form>
