<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let row">{{row.prenom}} {{row.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="nationalite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationalité</th>
      <td mat-cell *matCellDef="let row">{{row.nationalite}}</td>
    </ng-container>

    <ng-container matColumnDef="dateNaissance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Né le</th>
      <td mat-cell *matCellDef="let row">{{row.dateNaissance}}</td>
    </ng-container>

    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disabled>
        <mat-checkbox [(ngModel)]="allSelected" (change)="selectAll($event.checked)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [ngModel]="isSelected(row)" (change)="toggleSelection($event.checked, row)"></mat-checkbox>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
