<div>
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-list>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
        <mat-list-item>PSG</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-list>
        <mat-list-item>5-0</mat-list-item>
        <mat-list-item>3-2</mat-list-item>
        <mat-list-item>4-3</mat-list-item>
        <mat-list-item>1-0</mat-list-item>
        <mat-list-item>1-0</mat-list-item>
        <mat-list-item>1-0</mat-list-item>
        <mat-list-item>1-0</mat-list-item>
        <mat-list-item>1-0</mat-list-item>
        <mat-list-item>1-0</mat-list-item>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-list>
        <mat-list-item>OM</mat-list-item>
        <mat-list-item>ASSE</mat-list-item>
        <mat-list-item>LYON</mat-list-item>
        <mat-list-item>NICE</mat-list-item>
        <mat-list-item>NICE</mat-list-item>
        <mat-list-item>NICE</mat-list-item>
        <mat-list-item>NICE</mat-list-item>
        <mat-list-item>NICE</mat-list-item>
        <mat-list-item>NICE</mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
