<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="nodata">
      <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length"
          style="text-align: center;">Aucun calendrier.
      </td>
    </ng-container>

    <tr mat-footer-row
        [hidden]="dataSource?.data.length >0"
        *matFooterRowDef="['nodata']">
    </tr>
    <!-- Id Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="domicile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Domicile</th>
      <td mat-cell *matCellDef="let row">{{row.domicile.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let row">{{row.butDomicile}} - {{row.butExterieur}}</td>
    </ng-container>

    <ng-container matColumnDef="exterieur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exterieur</th>
      <td mat-cell *matCellDef="let row">{{row.exterieur.nom}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [hidePageSize]="true" id="calendrier-paginator">
  </mat-paginator>
</div>
<div class="add-button-row">
  <button mat-raised-button color="primary" (click)="genererCalendrier()"> + Générer une nouvelle saison</button>
</div>
